.today-highlight {
    background-color: #ffd700; /* Yellow background for highlighting */
    color: #000; /* Black text color for visibility */
    border-radius: 50%; /* Rounded corners for a circle effect */
  }
.highlight-current-week {
  background-color: lightblue;
}

/* CalendarComponent.css */

/* Input element styles */
.input-element {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

/* Button styles */
.button-element {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
