.calendar-container {
    display: grid;
    place-items: center; /* Center both horizontally and vertically */
    /* height: 80vh; */
    padding-top: 10px; /* Adjust the top padding as needed */
  }
  