/* BikeList component */
.BikeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Add some spacing between bikes */
  }
  
  /* BikeCard component */
  /* BikeCard component */
.BikeCard {
  width: calc(50% - 10px); /* Two cards per row with some spacing */
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #fff;
  border: none; /* Remove the border */
  display: flex; /* Use flex to make contents take full width */
  flex-direction: column; /* Stack contents vertically */
}

  
  /* BikeCard image */
  .BikeCard img {
    max-width: 100%;
    height: auto;
  }
  
  /* ViewDetails button */
  .ViewDetailsButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  